.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f06, #42a5f5);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff51;
    width: 430px;
    height: 630px;
    border-radius: 20px;
}